main {
    padding-top: 40px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        @include device(small) {
            gap: 18px;
        }
        
        img {
            width: 100%;
            border-radius: 3px;
            filter: brightness(0.6);
            transition: .6s;

            &:hover {
                cursor: auto;
                filter: brightness(1);
                transform: scale(1.007);
                transition: .4s;
            }
        }
    }

    p {
        letter-spacing: .2em;    
        color: $cor-02;
    }
}
