.container-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 170px;
    background-color: $cor-05;

    @include device(medium) {
        flex-direction: column-reverse;
        gap: 30px;
        margin: 100px;
        
    }
    @include device(small) {
        flex-direction: column-reverse;
        gap: 30px;
        height: 90vh;
    }
}

.foto-perfil {
    width: 30%;
    min-width: 250px;
    img {
        padding: 5px;
        background-color: $cor-03;
        border: 8px solid $cor-06;
        border-radius: 50%;
        width: 100%;
        @include device(small) {
            width: 90%;
        }
    }
}

.content-sobre {
    width: 60%;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    gap: 40px;
    
    @include device(medium) {
        width: 80%;
        min-width: 550px;
        align-items: center;
    }
    @include device(small) {
        width: 100%;
        min-width: 350px;
        align-items: center;
        gap: 20px;
    }
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 1.6em;
        color: $cor-01;
        letter-spacing: .09em;

        @include device(medium) {
            font-size: 1.5em;
        }
        @include device(small) {
            font-size: 1.3em;
            gap: 5px;

        }
    }
    
    p {
        font-size: 1.2em;
        text-indent: 3em;
        line-height: 2em;
        color: $cor-02;
        letter-spacing: .1em;
        text-align: justify;
    }
}
